# Django core
SECRET_KEY=change-this-in-production
DEBUG=True

# Hosts
ALLOWED_HOSTS=localhost,127.0.0.1,url.alejandrodev.dpdns.org,.vercel.app

# Optional explicit settings module
DJANGO_SETTINGS_MODULE=url_shortener.settings

# Security toggles (recommended defaults)
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
